
@font-face {
  font-family: 'LXGWWenKai';
  src: url('https://github.com/lxgw/LxgwWenKai/blob/main/fonts/TTF/LXGWWenKai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('https://github.com/lxgw/LxgwWenKai/blob/main/fonts/TTF/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('https://github.com/lxgw/LxgwWenKai/blob/main/fonts/TTF/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

body {
  font-family: 'LXGWWenKai', sans-serif;
}
